{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block home_banner %}{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

{% form_theme form 'form/form_errors.html.twig' %}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row" id="app">
            <div class="col-lg-12">


                {# quitar novalidate="novalidate" para que se valide el JS #}


                <form class="row contact_form" action="{{ path('service') }}" method="post" id="contactForm" novalidate="novalidate">
                    <div class="col-md-12">
                        {{ form_errors(form) }}

                        <h1>Información general del convenio</h1>

                        <div class="form-group">
                        {{
                            form_row(form.request_type, {'attr': {
                                'class': 'form-control select-small',
                                'placeholder': 'Tipo de Convenio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Tipo de Convenio"',
                            }})
                        }}
                        </div>
                        <div class="form-group">
                            {{
                                form_row(form.town, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Fecha del Convenio',
                                    'onfocus': 'this.placeholder = ""',
                                    'onblur': 'this.placeholder = "Ciudad del Convenio"',
                                }})
                            }}
                        </div>
                        <div class="form-group">
                            {{
                                form_row(form.date, {'attr': {
                                    'class': 'form-control datepicker',
                                    'placeholder': 'Fecha del Convenio',
                                    'onfocus': 'this.placeholder = ""',
                                    'onblur': 'this.placeholder = "Fecha del Convenio"',
                                }})
                            }}
                        </div>

                        <h1>Información de los cónyuges</h1>

                        <div class="row">

                            <div class="col-lg-6">

                                <h2>Datos del primer cónyuge</h2>

                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.partner_first.name, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Nombre del primer cónyuge',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Nombre del primer cónyuge"',
                                        }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.partner_first.dni, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'DNI del primer cónyuge',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "DNI del primer cónyuge"',
                                        }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.partner_first.nationality, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Nacionalidad del primer cónyuge',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Nacionalidad del primer cónyuge"',
                                        }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.partner_first.address, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Dirección del primer cónyuge',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Dirección del primer cónyuge"',
                                        }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.partner_first.town, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Ciudad de la dirección del primer cónyuge',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Ciudad de la dirección del primer cónyuge"',
                                        }})
                                    }}
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <h2>Datos del segundo cónyuge</h2>

                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.partner_second.name, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Nombre del segundo cónyuge',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Nombre del segundo cónyuge"',
                                    }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.partner_second.dni, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'DNI del segundo cónyuge',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "DNI del segundo cónyuge"',
                                    }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.partner_second.nationality, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Nacionalidad del segundo cónyuge',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Nacionalidad del segundo cónyuge"',
                                    }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.partner_second.address, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Dirección del segundo cónyuge',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Dirección del segundo cónyuge"',
                                    }})
                                    }}
                                </div>
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.partner_second.town, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Ciudad de la dirección del segundo cónyuge',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Ciudad de la dirección del segundo cónyuge"',
                                    }})
                                    }}
                                </div>
                            </div>
                        </div>

                        <h1>Datos del matrimonio</h1>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.marriage_type, {'attr': {
                                'class': 'form-control select-small',
                                'placeholder': 'Tipo de Matrimonio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Tipo de Matrimonio"',
                            }})
                            }}
                        </div>
                        <div class="form-group">
                            {{
                            form_row(form.marriage.town, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Ciudad del Matrimonio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Ciudad del Matrimonio"',
                            }})
                            }}
                        </div>
                        <div class="form-group">
                            {{
                            form_row(form.marriage.date, {'attr': {
                                'class': 'form-control datepicker',
                                'placeholder': 'Fecha del Matrimonio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Ciudad del Matrimonio"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.registry.town, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Ciudad del Registro Civil',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Ciudad del Registro Civil"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.registry.volume, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Volumen del Registro Civil',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Volumen del Registro Civil"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.registry.page, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Página del Registro Civil',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Página del Registro Civil',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.marriage_type, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Tipo de Matrimonio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Tipo de Matrimonio"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.economic_system, {'attr': {
                                'class': 'form-control select-small',
                                'placeholder': 'Régimen económico del matrimonio',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Régimen económico del matrimonio"',
                            }})
                            }}
                        </div>

                        <h1>Último domicilio conyugal</h1>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.house.address, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Dirección del último domicilio conyugal',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Dirección del último domicilio conyugal"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.marriage.house.town, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Ciudad del último domicilio conyugal',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Ciudad del último domicilio conyugal"',
                            }})
                            }}
                        </div>

                        <h1>Información de los hijos</h1>
                        A continuación indique los datos de los hijos e hijas producto del presente matrimonio.

                        <div class="children" data-prototype="{{ form_widget(form.marriage.children.vars.prototype)|e('html_attr') }}"></div>

                        <h1>Guarda y custodia</h1>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.custody, {'attr': {
                                'class': 'form-control select-small',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.pick_up, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.pick_up_hour, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.delivery, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.delivery_hour, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.alternate_weeks, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Indique el número de semanas alternas de la custodia',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Indique el número de semanas alternas de la custodia"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.summer_period, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.partner, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        {{ form_row(form.save, { 'label': 'Submit me' }) }}
                    </div>
                    {{ form_row(form._token) }}
                </form>
            </div>
{#            <div class="col-lg-6">#}
{#                <div class="agreement">#}
{#                    <h2>CONVENIO REGULADOR DE DIVORCIO/SEPARACION</h2>#}
{#                    <div>En ${ city }, a ___ de ______ de _____.</div>#}
{#                    <h3>REUNIDOS</h3>#}
{#                    <div>De una parte,#}
{#                        D. ${ partner_name_1 }, mayor de edad, de nacionalidad ${ partner_nationality_1 }, con domicilio en ${ partner_address_1 } de ${ partner_town_1 } y portador del Documento Nacional de Identidad núm. ${ partner_dni_1 }#}
{#                    </div>#}
{#                    <div>Y de otra parte,#}
{#                        D. ${ partner_name_2 }, mayor de edad, de nacionalidad ${ partner_nationality_2 }, con domicilio en ${ partner_address_2 } de ${ partner_town_2 } y portador del Documento Nacional de Identidad núm. ${ partner_dni_2 }#}
{#                    </div>#}
{#                    <h3>INTERVIENEN</h3>#}
{#                    <div>Ambos en su propio nombre y derecho, reconociéndose mutuamente capacidad legal suficiente para otorgar el presente CONVENIO REGULADOR, y por vía de antecedentes,</div>#}
{#                    <h3>EXPONEN</h3>#}
{#                    <div>#}
{#                        <b>Primero.</b> Que contrajeron matrimonio ${ marriage_type }, en ${ marriage_place }, el día ${ marriage_date }, registrado en el Registro Civil de ${ registry_place }, tomo ${ registry_volume }, página ${ registry_page }. El matrimonio se contrajo bajo el régimen económico de ${ economic_system }.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Segundo.</b> Que de dicha unión nació ${ children_number } hijos.#}
{#                        ___________________(NOMBRE APELLIDOS) el día __________ FECHA, que fue inscrito en el Registro Civil de ___________, en el Tomo __, página ___.#}
{#                        (…)#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Tercero.</b> El último domicilio conyugal estuvo establecido en ${ last_partner_address } de ${ last_partner_town }.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Cuarto.</b> Diferencias irreconciliables que no vienen al caso, llevan a los cónyuges a solicitar el divorcio de mutuo acuerdo.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Quinto.</b> Que con objeto de cumplir los requisitos exigidos por el Art 90 CC relativos a las exigencias y características que ha de tener el convenio regulador que acompañe a las demandas de divorcio de mutuo acuerdo, ambos cónyuges suscriben el presente convenio en base a las siguientes:#}
{#                    </div>#}
{#                    <h3>ESTIPULACIONES</h3>#}
{#                    <h3>-I-</h3>#}
{#                    <div>#}
{#                        <b>DOMICILIO.</b> Ambos cónyuges, se comprometen a respetar la libertad e independencia tanto profesional como personal del otro, así como para la libre fijación de sus domicilios, sin intervenir ni inmiscuirse en modo alguno.#}
{#                    </div>#}
{#                    <h3>-II-</h3>#}
{#                    <div>#}
{#                        <b>USO Y DISFRUTE DEL DOMICILIO FAMILIAR.</b> La vivienda familiar, sita en la calle ${ family_house_address } de ${ family_house_town }), le corresponderá en el uso a _____________(CONYUGE 1/CONYUGE 2),  hasta ________________MULTIPLES POSIBLIDADES.#}
{#                    </div>#}
{#                    <h3>-III-</h3>#}
{#                    <div>#}
{#                        <b>PATRIA POTESTAD.</b> Del mismo modo, la patria potestad será ejercida conjuntamente por ambos progenitores, que adoptarán de común acuerdo y velando siempre por su interés, todas las decisiones transcendentes que afecten al menor,decidiendo en los casos de falta de acuerdo la autoridad judicial.#}
{#                    </div>#}
{#                    <h3>-IV-</h3>#}
{#                    <h3>GUARDA Y CUSTODIA. ____________MULTIPLES POSIBILIDADES</h3>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>
{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('build/js/app.js') }}"></script>#}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/children.js') }}"></script>
    <script src="{{ asset('js/agreement.js') }}"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
