{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block home_banner %}
<section class="home_banner_area overlay">
    <div class="banner_inner">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner_content">
                    <h2>
                        Divorcios<br>
                        Juanqui S.A.<br>
                    </h2>
                    <p>
                        Rellena un sencillito formulario para ahorrarte 400 pavos que te va a cobrar el cabrón este.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

{% form_theme form with ['form/form_row.html.twig', 'form/form_errors.html.twig'] %}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row" id="app">
            <div class="col-lg-12">

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>

                {# quitar novalidate="novalidate" para que se valide el JS #}

                <form class="row contact_form" action="{{ path('service') }}" method="post" id="contactForm" novalidate="novalidate">

{#                <form class="row contact_form" action="{{ path('service') }}" method="post" id="contactForm">#}

                    {{ form_errors(form) }}

                    <div class="col-md-12">
                        <h3>Información general del convenio</h3>
                        <p>Introduzca la información general del convenio</p>
                        <div class="row section_bottom">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                        form_row(form.request_type, {'attr': {
                                            'class': 'form-control',
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                        form_row(form.town, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Fecha del Convenio',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Ciudad del Convenio"',
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                        form_row(form.date, {'attr': {
                                            'class': 'form-control datepicker',
                                            'placeholder': 'Fecha del Convenio',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Fecha del Convenio"',
                                            'autocomplete': 'off',
                                        }})
                                    }}
                                </div>
                            </div>
                        </div>

                        <h3>Información de los cónyuges</h3>
                        <p>Introduzca la información de los cónyuges</p>

                        <div class="col-lg-12">

                        <div class="row section_bottom">

                            <div class="col-lg-6">

                                <h5>Primer cónyuge</h5>
                                <p>Introduzca los datos del primer cónyuge</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_first.name, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Nombre del primer cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Nombre del primer cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_first.dni, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'DNI del primer cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "DNI del primer cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_first.nationality, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Nacionalidad del primer cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Nacionalidad del primer cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_first.town, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Ciudad de la dirección del primer cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Ciudad de la dirección del primer cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_first.address, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Dirección del primer cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Dirección del primer cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <h5>Segundo cónyuge</h5>
                                <p>Introduzca los datos del segundo cónyuge</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_second.name, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Nombre del segundo cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Nombre del segundo cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_second.dni, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'DNI del segundo cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "DNI del segundo cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                                form_row(form.marriage.partner_second.nationality, {'attr': {
                                                    'class': 'form-control',
                                                    'placeholder': 'Nacionalidad del segundo cónyuge',
                                                    'onfocus': 'this.placeholder = ""',
                                                    'onblur': 'this.placeholder = "Nacionalidad del segundo cónyuge"',
                                                }})
                                            }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{
                                            form_row(form.marriage.partner_second.town, {'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Ciudad de la dirección del segundo cónyuge',
                                                'onfocus': 'this.placeholder = ""',
                                                'onblur': 'this.placeholder = "Ciudad de la dirección del segundo cónyuge"',
                                            }})
                                            }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{
                                            form_row(form.marriage.partner_second.address, {'attr': {
                                                'class': 'form-control',
                                                'placeholder': 'Dirección del segundo cónyuge',
                                                'onfocus': 'this.placeholder = ""',
                                                'onblur': 'this.placeholder = "Dirección del segundo cónyuge"',
                                            }})
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Datos del matrimonio</h3>
                        <p>Introduzca los datos del matrimonio</p>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.marriage_type, {'attr': {
                                        'class': 'form-control select-small',
                                        'placeholder': 'Tipo de Matrimonio',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Tipo de Matrimonio"',
                                    }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.town, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Ciudad del Matrimonio',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Ciudad del Matrimonio"',
                                    }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.date, {'attr': {
                                        'class': 'form-control datepicker',
                                        'placeholder': 'Fecha del Matrimonio',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Fecha del Matrimonio"',
                                        'autocomplete': 'off',
                                    }})
                                    }}
                                </div>
                            </div>
                        </div>

                        <div class="row section_bottom">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.registry.town, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Ciudad del Registro Civil',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Ciudad del Registro Civil"',
                                    }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.registry.volume, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Volumen del Registro Civil',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Volumen del Registro Civil"',
                                    }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.registry.page, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Página del Registro Civil',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Página del Registro Civil',
                                    }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.economic_system, {'attr': {
                                        'class': 'form-control select-small',
                                        'placeholder': 'Régimen económico del matrimonio',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Régimen económico del matrimonio"',
                                    }})
                                    }}
                                </div>
                            </div>
                        </div>

                        <h3>Último domicilio conyugal</h3>
                        <p>Introduzca los datos del último domicilio conyugal</p>


                        <div class="row section_bottom">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{
                                        form_row(form.marriage.house.address, {'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Dirección del último domicilio conyugal',
                                            'onfocus': 'this.placeholder = ""',
                                            'onblur': 'this.placeholder = "Dirección del último domicilio conyugal"',
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{
                                    form_row(form.marriage.house.town, {'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Ciudad del último domicilio conyugal',
                                        'onfocus': 'this.placeholder = ""',
                                        'onblur': 'this.placeholder = "Ciudad del último domicilio conyugal"',
                                    }})
                                    }}
                                </div>
                            </div>
                        </div>

                        <h3>Información de los hijos</h3>
                        <p>A continuación indique los datos de los hijos e hijas producto del presente matrimonio.</p>

                        <div class="children section_bottom" data-prototype="{{ form_widget(form.marriage.children.vars.prototype)|e('html_attr') }}"></div>

                        <h3>Guarda y custodia</h3>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.custody, {'attr': {
                                'class': 'form-control select-small',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.pick_up, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.pick_up_hour, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.delivery, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.delivery_hour, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.alternate_weeks, {'attr': {
                                'class': 'form-control',
                                'placeholder': 'Indique el número de semanas alternas de la custodia',
                                'onfocus': 'this.placeholder = ""',
                                'onblur': 'this.placeholder = "Indique el número de semanas alternas de la custodia"',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.summer_period, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        <div class="form-group">
                            {{
                            form_row(form.agreement.partner, {'attr': {
                                'class': 'form-control',
                            }})
                            }}
                        </div>

                        {{ form_row(form.save, { 'label': 'Submit me' }) }}
                    </div>
                    {{ form_row(form._token) }}
                </form>
            </div>
{#            <div class="col-lg-6">#}
{#                <div class="agreement">#}
{#                    <h2>CONVENIO REGULADOR DE DIVORCIO/SEPARACION</h2>#}
{#                    <div>En ${ city }, a ___ de ______ de _____.</div>#}
{#                    <h3>REUNIDOS</h3>#}
{#                    <div>De una parte,#}
{#                        D. ${ partner_name_1 }, mayor de edad, de nacionalidad ${ partner_nationality_1 }, con domicilio en ${ partner_address_1 } de ${ partner_town_1 } y portador del Documento Nacional de Identidad núm. ${ partner_dni_1 }#}
{#                    </div>#}
{#                    <div>Y de otra parte,#}
{#                        D. ${ partner_name_2 }, mayor de edad, de nacionalidad ${ partner_nationality_2 }, con domicilio en ${ partner_address_2 } de ${ partner_town_2 } y portador del Documento Nacional de Identidad núm. ${ partner_dni_2 }#}
{#                    </div>#}
{#                    <h3>INTERVIENEN</h3>#}
{#                    <div>Ambos en su propio nombre y derecho, reconociéndose mutuamente capacidad legal suficiente para otorgar el presente CONVENIO REGULADOR, y por vía de antecedentes,</div>#}
{#                    <h3>EXPONEN</h3>#}
{#                    <div>#}
{#                        <b>Primero.</b> Que contrajeron matrimonio ${ marriage_type }, en ${ marriage_place }, el día ${ marriage_date }, registrado en el Registro Civil de ${ registry_place }, tomo ${ registry_volume }, página ${ registry_page }. El matrimonio se contrajo bajo el régimen económico de ${ economic_system }.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Segundo.</b> Que de dicha unión nació ${ children_number } hijos.#}
{#                        ___________________(NOMBRE APELLIDOS) el día __________ FECHA, que fue inscrito en el Registro Civil de ___________, en el Tomo __, página ___.#}
{#                        (…)#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Tercero.</b> El último domicilio conyugal estuvo establecido en ${ last_partner_address } de ${ last_partner_town }.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Cuarto.</b> Diferencias irreconciliables que no vienen al caso, llevan a los cónyuges a solicitar el divorcio de mutuo acuerdo.#}
{#                    </div>#}
{#                    <div>#}
{#                        <b>Quinto.</b> Que con objeto de cumplir los requisitos exigidos por el Art 90 CC relativos a las exigencias y características que ha de tener el convenio regulador que acompañe a las demandas de divorcio de mutuo acuerdo, ambos cónyuges suscriben el presente convenio en base a las siguientes:#}
{#                    </div>#}
{#                    <h3>ESTIPULACIONES</h3>#}
{#                    <h3>-I-</h3>#}
{#                    <div>#}
{#                        <b>DOMICILIO.</b> Ambos cónyuges, se comprometen a respetar la libertad e independencia tanto profesional como personal del otro, así como para la libre fijación de sus domicilios, sin intervenir ni inmiscuirse en modo alguno.#}
{#                    </div>#}
{#                    <h3>-II-</h3>#}
{#                    <div>#}
{#                        <b>USO Y DISFRUTE DEL DOMICILIO FAMILIAR.</b> La vivienda familiar, sita en la calle ${ family_house_address } de ${ family_house_town }), le corresponderá en el uso a _____________(CONYUGE 1/CONYUGE 2),  hasta ________________MULTIPLES POSIBLIDADES.#}
{#                    </div>#}
{#                    <h3>-III-</h3>#}
{#                    <div>#}
{#                        <b>PATRIA POTESTAD.</b> Del mismo modo, la patria potestad será ejercida conjuntamente por ambos progenitores, que adoptarán de común acuerdo y velando siempre por su interés, todas las decisiones transcendentes que afecten al menor,decidiendo en los casos de falta de acuerdo la autoridad judicial.#}
{#                    </div>#}
{#                    <h3>-IV-</h3>#}
{#                    <h3>GUARDA Y CUSTODIA. ____________MULTIPLES POSIBILIDADES</h3>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>
{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('build/js/app.js') }}"></script>#}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/children.js') }}"></script>
    <script src="{{ asset('js/agreement.js') }}"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
