{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block home_banner %}{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

    <section class="contact_area section_gap">
        <div class="container">
            <div class="row" id="app">
                <div class="col-lg-12">
                    <h1>CONVENIO REGULADOR DE {{ request.requestType | upper }}</h1>
                    <div>
                        En {{ request.town }}, a {{ request.date | date('d') }} de {{ request.date | date('F') }} de {{ request.date | date('Y') }}.
                    </div>
                    <br />
                    <br />
                    <h1>REUNIDOS</h1>
                    <div>
                        De una parte, <br />
                        D/Dª. {{ request.marriage.partnerFirst.name }}, mayor de edad, de nacionalidad {{ request.marriage.partnerFirst.nationality }}, con domicilio en {{ request.marriage.partnerFirst.address }} de {{ request.marriage.partnerFirst.town }} y portador del Documento Nacional de Identidad núm. {{ request.marriage.partnerFirst.dni }}
                    </div>
                    <br />
                    <div>
                        Y de otra parte, <br />
                        D/Dª. {{ request.marriage.partnerSecond.name }}, mayor de edad, de nacionalidad {{ request.marriage.partnerSecond.nationality }}, con domicilio en {{ request.marriage.partnerSecond.address }} de {{ request.marriage.partnerSecond.town }} y portador del Documento Nacional de Identidad núm. {{ request.marriage.partnerSecond.dni }}
                    </div>
                    <br />
                    <br />
                    <h1>INTERVIENEN</h1>
                    <div>
                        Ambos en su propio nombre y derecho, reconociéndose mutuamente capacidad legal suficiente para otorgar el presente CONVENIO REGULADOR, y por vía de antecedentes,
                    </div>
                    <br />
                    <br />
                    <h1>EXPONEN</h1>
                    <div>
                        <b>Primero.</b> Que contrajeron matrimonio {{ request.marriage.marriageType }}, en {{ request.marriage.town }}, el día {{ request.marriage.date | date('d/m/Y') }}, registrado en el Registro Civil de {{ request.marriage.registry.town }}, tomo {{ request.marriage.registry.volume }}, página {{ request.marriage.registry.page }}. El matrimonio se contrajo bajo el régimen económico de la {{ request.marriage.economicSystem }},.
                    </div>
                    <br />
                    {% if(request.marriage.children.count > 0) %}
                        <div>
                            <b>Segundo.</b> Que de dicha unión nació {{ request.marriage.children.count }} hijos.
                            <br />
                            {% for child in request.marriage.children %}
                                {{ child.name }} el día {{ child.date | date('d/m/Y') }}, que fue inscrito en el Registro Civil de ___________, en el Tomo __, página ___.
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br />
                    <div>
                        <b>Tercero.</b> El último domicilio conyugal estuvo establecido en {{ request.marriage.house.address }} de {{ request.marriage.house.town }}
                    </div>
                    <br />
                    <div>
                        <b>Cuarto.</b> Diferencias irreconciliables que no vienen al caso, llevan a los cónyuges a solicitar el {{ request.requestType | lower }} de mutuo acuerdo.
                    </div>
                    <br />
                    <div>
                        <b>Quinto.</b> Que con objeto de cumplir los requisitos exigidos por el Art 90 CC relativos a las exigencias y características que ha de tener el convenio regulador que acompañe a las demandas de {{ request.requestType | lower }} de mutuo acuerdo, ambos cónyuges suscriben el presente convenio en base a las siguientes:
                    </div>
                    <br />
                    <br />
                    <h1>ESTIPULACIONES</h1>
                    <h2>-I- D1</h2>
                    <div>
                        <b>DOMICILIO.</b> Ambos cónyuges, se comprometen a respetar la libertad e independencia tanto profesional como personal del otro, así como para la libre fijación de sus domicilios, sin intervenir ni inmiscuirse en modo alguno.
                    </div>
                    <h2>-II- D2</h2>
                    <div>
                        <b>USO Y DISFRUTE DEL DOMICILIO FAMILIAR.</b> La vivienda familiar, sita en la {{ request.marriage.house.address }} de {{ request.marriage.house.town }}, le corresponderá en el uso a _____________(CONYUGE 1/CONYUGE 2) D.2.3.1/D.2.3.2 .
                    </div>




                    




                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}