{# extends 'base.html.twig' #}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <style>
        .watermark {
            position:fixed;
            bottom:700px;
            right:200px;
            opacity:0.1;
            z-index:99;
            color:red;
            font-size: 358px;
            pointer-events: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
        }
    </style>
{% endblock %}

{% block home_banner %}{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}
    {% set section = 1 %}

    {% set custody = request.agreement.custody %}
    {% if custody == 1 %}
        {% set custody_text = "Compartida" %}
    {% else %}
        {% set custody_text = "Monoparental" %}
    {% endif %}
    {% set each_children_text = '' %}

    {% set children_count = request.marriage.children.count %}
    {% if(children_count == 1) %}
        {% set children_born_text = "nació" %}
        {% set children_text = "hijo" %}
        {% set children_younger_text = "el menor" %}
        {% set children_of_younger_text = "del menor" %}
        {% set children_will_be_text = "el menor estará" %}
        {% set children_will_remain_text = "el menor permancerá" %}
        {% set children_pick_up_text = "El menor será recogido" %}
    {% elseif children_count > 1 %}
        {% set children_born_text = "nacieron" %}
        {% set children_text = "hijos" %}
        {% set children_younger_text = "los menores" %}
        {% set children_of_younger_text = "de los menores" %}
        {% set children_will_be_text = "los menores estarán" %}
        {% set children_will_remain_text = "los menores permancerán" %}
        {% set children_pick_up_text = "Los menores serán recogidos" %}
        {% set each_children_text = ' para cada hijo' %}
    {% endif %}

    {% set alternate_weeks = request.agreement.alternateWeeks %}
    {% if alternate_weeks == 1 %}
        {% set alternate_weeks_text = "durante semanas alternas" %}
    {% else %}
        {% set alternate_weeks_text = "cada " ~ alternate_weeks ~ " semanas alternas" %}
    {% endif %}

    {% if request.agreement.getPartnerHomeUse == 1 %}
        {% set partner_home_use = request.marriage.partnerFirst.name %}
    {% else %}
        {% set partner_home_use = request.marriage.partnerSecond.name %}
    {% endif %}

    {% if request.agreement.partner == 1 %}
        {% set custody_partner = request.marriage.partnerFirst.name %}
    {% else %}
        {% set custody_partner = request.marriage.partnerSecond.name %}
    {% endif %}

    {% if request.agreement.alimony.debtor == 1 %}
        {% set debtor = request.marriage.partnerFirst.name %}
        {% set creditor = request.marriage.partnerSecond.name %}
    {% else %}
        {% set debtor = request.marriage.partnerSecond.name %}
        {% set creditor = request.marriage.partnerFirst.name %}
    {% endif %}

    {% if request.agreement.compensatoryPension.creditor == 1 %}
        {% set pensionCreditor = request.marriage.partnerFirst.name %}
    {% else %}
        {% set pensionCreditor = request.marriage.partnerSecond.name %}
    {% endif %}

    {% set pick_up = request.agreement.pickUp %}
    {% if pick_up == 1 %}
        {% set pick_up_text = "el centro escolar el viernes, a la finalización del horario lectivo" %}
    {% else %}
        {% set pick_up_hour = request.agreement.pickUpHour %}
        {% set pick_up_text = "el domicilio del otro progenitor el viernes a las " ~ pick_up_hour|date('H:i') ~ " horas" %}
    {% endif %}

    {% set delivery = request.agreement.delivery %}
    {% if delivery == 1 %}
        {% set delivery_text = "el centro escolar el lunes, al comienzo del horario lectivo" %}
    {% else %}
        {% set delivery_hour = request.agreement.deliveryHour %}
        {% set delivery_text = "el domicilio del otro progenitor el domingo a las " ~ delivery_hour|date('H:i') ~ " horas" %}
    {% endif %}

    {% set summer_period = request.agreement.summerPeriod %}
    {% if summer_period == 1 %}
        {% set summer_period_text = "en periodos de dos semanas" %}
    {% else %}
        {% set summer_period_text = "en dos periodos iguales" %}
    {% endif %}

    {% set parent_first_name = request.marriage.partnerFirst.name %}
    {% set parent_second_name = request.marriage.partnerSecond.name %}

    <div class="watermark">Juanqui</div>
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row" id="app">
                <div class="col-lg-12">
                    <h1 style="text-align: center;">CONVENIO REGULADOR DE {{ request.requestType | upper }}</h1>
                    <div>
                        En {{ request.town }}, a {{ request.date | localizeddate('none', 'none', 'es_ES', null, "d 'de' MMMM 'de' Y") }}.
                    </div>
                    <br />
                    <br />
                    <h1 style="text-align: center;">REUNIDOS</h1>
                    <div>
                        De una parte, <br />
                        D/Dª. {{ request.marriage.partnerFirst.name }}, mayor de edad, de nacionalidad {{ request.marriage.partnerFirst.nationality }}, con domicilio en {{ request.marriage.partnerFirst.address }} de {{ request.marriage.partnerFirst.town }} y portador del Documento Nacional de Identidad núm. {{ request.marriage.partnerFirst.dni }}
                    </div>
                    <br />
                    <div>
                        Y de otra parte, <br />
                        D/Dª. {{ request.marriage.partnerSecond.name }}, mayor de edad, de nacionalidad {{ request.marriage.partnerSecond.nationality }}, con domicilio en {{ request.marriage.partnerSecond.address }} de {{ request.marriage.partnerSecond.town }} y portador del Documento Nacional de Identidad núm. {{ request.marriage.partnerSecond.dni }}
                    </div>
                    <br />
                    <br />
                    <h1 style="text-align: center;">INTERVIENEN</h1>
                    <div>
                        Ambos en su propio nombre y derecho, reconociéndose mutuamente capacidad legal suficiente para otorgar el presente CONVENIO REGULADOR, y por vía de antecedentes,
                    </div>
                    <br />
                    <br />
                    <h1 style="text-align: center;">EXPONEN</h1>
                    <div>
                        <b>Primero.</b> Que contrajeron matrimonio {{ request.marriage.marriageType }}, en {{ request.marriage.town }}, el día {{ request.marriage.date | date('d/m/Y') }}, registrado en el Registro Civil de {{ request.marriage.registry.town }}, tomo {{ request.marriage.registry.volume }}, página {{ request.marriage.registry.page }}. El matrimonio se contrajo bajo el régimen económico de la {{ request.marriage.economicSystem }}.
                    </div>
                    <br />
                    {% if(children_count > 0) %}
                        <div>
                            <b>Segundo.</b> Que de dicha unión {{ children_born_text }} {{ children_count }} hijos.
                            <br />
                            {% for child in request.marriage.children %}
                                {{ child.name }} el día {{ child.date | date('d/m/Y') }}, que fue inscrito en el Registro Civil de {{ child.registry }}, en el Tomo {{ child.volume }}, página {{ child.page }}.<br />
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br />
                    <div>
                        <b>Tercero.</b> El último domicilio conyugal estuvo establecido en {{ request.marriage.house.address }} de {{ request.marriage.house.town }}.
                    </div>
                    <br />
                    <div>
                        <b>Cuarto.</b> Diferencias irreconciliables que no vienen al caso, llevan a los cónyuges a solicitar el {{ request.requestType | lower }} de mutuo acuerdo.
                    </div>
                    <br />
                    <div>
                        <b>Quinto.</b> Que con objeto de cumplir los requisitos exigidos por el Art 90 CC relativos a las exigencias y características que ha de tener el convenio regulador que acompañe a las demandas de {{ request.requestType | lower }} de mutuo acuerdo, ambos cónyuges suscriben el presente convenio en base a las siguientes:
                    </div>
                    <br />
                    <br />
                    <h1 style="text-align: center;">ESTIPULACIONES</h1>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>DOMICILIO.</b> Ambos cónyuges, se comprometen a respetar la libertad e independencia tanto profesional como personal del otro, así como para la libre fijación de sus domicilios, sin intervenir ni inmiscuirse en modo alguno.
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>USO Y DISFRUTE DEL DOMICILIO FAMILIAR.</b> La vivienda familiar, sita en la {{ request.marriage.house.address }} de {{ request.marriage.house.town }}, le corresponderá en el uso a {{ partner_home_use }}.
                    </div>
                    {% if(children_count > 0) %}
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                        <div>
                        <b>PATRIA POTESTAD.</b> Del mismo modo, la patria potestad será ejercida conjuntamente por ambos progenitores, que adoptarán de común acuerdo y velando siempre por su interés, todas las decisiones trascendentales que afecten a {{ children_younger_text }}, decidiendo en los casos de falta de acuerdo la autoridad judicial.
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>GUARDA Y CUSTODIA.</b>
                        {% if custody == 'Compartida' %}
                            La guarda y custodia {{ children_of_younger_text }}, será compartida. Para ello {{ children_will_be_text }} en compañía cada progenitor {{ alternate_weeks_text }} y será recogido por el progenitor no custodio en {{ delivery_text }}.
                        {% else %}
                            La guardia y custodia {{ children_of_younger_text }} es atribuida a {{ custody_partner }}. {# TODO #}
                        {% endif %}
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>RÉGIMEN DE VISITAS.</b> En principio el régimen de visitas se determinará previo acuerdo de ambos progenitores, pero para el caso de desacuerdo y como mínimo, se estará al siguiente régimen, debiendo ser interpretado con criterios de flexibilidad y buena fe, dado que se contempla como un derecho {{ children_of_younger_text }}.
                        {% if custody == 'Compartida' %}
                            <br />
                            <br />
                            <b>A)</b> {% if children_count == 1 %} Al menor {% elseif children_count > 1 %} A los menores {% endif %} en compañía del progenitor no custodio durante fines de semana alternos. {{ children_pick_up_text }} en {{ pick_up_text }} y será devuelto por el progenitor no custodio en {{ delivery_text }}.
                            <br />
                            <br />
                            <b>B)</b> En cuanto a las vacaciones de Navidad, éstas se dividirán por la mitad, desde el día de finalización del periodo escolar hasta el día 30 de diciembre, y el segundo periodo desde el día 31 de diciembre hasta el inicio del periodo escolar. {{ parent_first_name }} elegirá en los años pares cuándo disfrutará del citado periodo de vacaciones, y {{ parent_second_name }} elegirá los años impares.
                            <br />
                            <br />
                            <b>C)</b> Las vacaciones de Semana Santa, las pasarán con ambos padres estableciéndose dos períodos de idéntica duración. Los días de vacaciones incluirán desde el viernes a la salida del colegio hasta el día antes del reinicio del periodo escolar. {{ parent_first_name }} elegirá en los años pares cuándo disfrutará del citado periodo de vacaciones, y {{ parent_second_name }} elegirá los años impares.
                            <br />
                            <br />
                            <b>D)</b> Durante las vacaciones de verano, {{ children_younger_text }} estará en compañía de los padres {{ summer_period_text }}.
                            {% if summer_period == 1 %}
                                El primer período comenzará el día 1 de julio hasta el dia 15 de julio. El segundo período comenzará el día 16 de julio hasta el dia 31 de julio. El tercero periodo comenzará el día 1 de agosto hasta el día 15 de agosto. El cuarto periodo comenzará el día 16 de agosto hasta el día 31 de agosto. {{ children_pick_up_text }} del domicilio donde se encuentren, ya sea durante el régimen habitual de guarda y custodia o durante alguno de los periodos de vacaciones.
                            {% else %}
                                El primer periodo comprenderá desde la finalización del periodo escolar hasta el dia 31 de julio, y el segundo periodo desde el día 1 de agosto hasta el inicio del curso escolar.
                            {% endif %}
                            {{ parent_first_name }} elegirá en los años pares cuando disfrutará del citado periodo de vacaciones, y {{ parent_second_name }} elegirá los años impares.
                            <br />
                            <br />
                            <b>E)</b> Los progenitores permitirán que {{ children_younger_text }} asista a celebraciones o eventos familiares, como cumpleaños de abuelos y otros familiares, bodas, comuniones, etc., en caso de que se produzcan en la familia del que no los tenga en su compañía, favoreciendo los cambios necesarios, siempre que se comunique con suficiente antelación.
                        {% else %}

                        {% endif %}
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>PENSIÓN ALIMENTICIA.</b>
                        {% if custody == 'Compartida' and request.agreement.alimony.alimony %}
                            {{ debtor }} abonará a {{ creditor }} en concepto de pensión de alimentos {{ request.agreement.alimony.amount }} euros{{ each_children_text }}, esta obligación se extinguirá en el momento que los hijos mantengan una situación laboral estable.
                            <br />
                            <br />
                            Dicha cantidad deberá ser ingresada en los cinco primeros días de cada mes, en la entidad y en la cuenta bancaria que designe {{ creditor }}.
                            <br />
                            <br />
                            La cantidad abonada en concepto de alimentos, será actualizada anualmente a tenor de las variaciones porcentuales experimentadas por el IPC, a nivel nacional, según conste en el certificado que a tal efecto expida el INE o el organismo que pueda sustituirlo en sus funciones. La primera actualización se realizará el 1 de enero de {{ 'now' | date_modify("+1 year") | date('Y') }}.
                            <br />
                            <br />
                            Los gastos extraordinarios que sean necesarios, serán sufragados previo acuerdo de los progenitores, al 50%, y en general aquellos gastos imprevisibles o de coste excepcional, como matrículas universitarias o similares, etc.
                        {% endif %}
                        {% if custody == 'Compartida' and not request.agreement.alimony.alimony %}
                            Dado que se establece el régimen de guarda y custodia compartido, no se establece pensión alimenticia en favor {{ children_of_younger_text }}, estando obligados ambos progenitores a afrontar los gastos derivados de la custodia {{ children_of_younger_text }} durante el tiempo que permanezca a su cargo.
                            Los gastos extraordinarios {{ children_of_younger_text }} en común que sean necesarios, serán sufragados previo acuerdo de los progenitores, al 50%, y en general aquellos gastos imprevisibles o de coste excepcional, como matrículas universitarias o similares, etc.
                        {% endif %}
                        {% if custody == 'Monoparental' %}
                            {{ debtor }} abonará a {{ creditor }} en concepto de pensión de alimentos {{ request.agreement.alimony.amount }} euros{{ each_children_text }}, esta obligación se extinguirá en el momento que los hijos mantengan una situación laboral estable.
                            <br />
                            <br />
                            Dicha cantidad deberá ser ingresada en los cinco primeros días de cada mes, en la entidad y en la cuenta bancaria que designe {{ creditor }}.
                            <br />
                            <br />
                            La cantidad abonada en concepto de alimentos, será actualizada anualmente a tenor de las variaciones porcentuales experimentadas por el IPC, a nivel nacional, según conste en el certificado que a tal efecto expida el INE o el organismo que pueda sustituirlo en sus funciones. La primera actualización se realizará el 1 de enero de {{ 'now' | date_modify("+1 year") | date('Y') }}.
                            <br />
                            <br />
                            Los gastos extraordinarios que sean necesarios, serán sufragados previo acuerdo de los progenitores, al 50%, y en general aquellos gastos imprevisibles o de coste excepcional, como matrículas universitarias o similares, etc.
                        {% endif %}
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>PENSIÓN COMPENSATORIA.</b>
                        {% if request.agreement.compensatoryPension.isPension %}
                            Se establece una pensión compensatoria de {{ request.agreement.compensatoryPension.amount }} euros a favor de {{ pensionCreditor }} dada la descompensación económica existente entre los progenitores.
                            {% if request.agreement.compensatoryPension.hasLimit %}
                                Dicha cantidad se limita al plazo de {{ request.agreement.compensatoryPension.term }} {{ request.agreement.compensatoryPension.termTime }}.
                            {% endif %}
                            <br />
                            La cantidad abonada en concepto de pensión compensatoria, será actualizada anualmente a tenor de las variaciones porcentuales experimentadas por el IPC, a nivel nacional, según conste en el certificado que a tal efecto expida el INE o el organismo que pueda sustituirlo en sus funciones. La primera actualización se realizará el 1 de enero de {{ 'now' | date_modify("+1 year") | date('Y') }}.
                        {% else %}
                            Los cónyuges tienen independencia económica y no es necesario el establecimiento de pensión alguna al no producirse desequilibrio económico.
                        {% endif %}
                    </div>
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        <b>COMUNICACIONES.</b>
                        Los progenitores quedan obligados, durante los periodos de tiempo en que {{ children_will_remain_text }} en su compañía, a comunicar al otro todas las cuestiones relativas a la salud, educación, y demás aspectos esenciales de la vida {{ children_of_younger_text }} en común, comprometiéndose a facilitar la documentación relativa a tales asuntos.<br />
                        En caso de enfermedad {{ children_of_younger_text }} en común, ambos progenitores quedan obligados a informarse mutuamente de dicha circunstancia, y el progenitor que en ese momento no se encuentre en compañía {{ children_of_younger_text }} tendrá derecho a la visita en el domicilio en el que {{ children_of_younger_text }} se encuentre, debiendo comunicar previamente esa visita al progenitor en cuyo domicilio se encuentre {{ children_of_younger_text }}.
                    </div>
                    {% endif %}
                    <h2 style="text-align: center;">-{{ section|roman }}-</h2>
                    {% set section = section + 1 %}
                    <div>
                        Ambos cónyuges se comprometen a presentar este Convenio a aprobación judicial, junto con la demanda de solicitud de divorcio de mutuo acuerdo y a ratificarlo.<br />
                        Leído el documento por ambas partes, se ratifican en el mismo los cónyuges, que seguidamente lo firman en la fecha y lugar arriba indicados, manifestando también estar dispuestos a ratificarlo en el Juzgado, a presencia judicial, en la correspondiente causa de divorcio, que a tenor de la legislación vigente solicitarán de mutuo acuerdo.
                    </div>
                    <div>
                        <div style="width: 100%; margin-top: 50px;">
                            <div style="width: 50%; text-align: center; float: left;">{{ request.marriage.partnerFirst.name }}</div>
                            <div style="width: 50%; text-align: center; float: left;">{{ request.marriage.partnerSecond.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}