<h3>Mensaje de contacto de ConvenioDivorcio.com</h3>

Has recibido un nuevo mensaje de contacto de ConvenioDivorcio.com

<ul>
    <li><b>Nombre</b>: {{ name }}</li>
    <li><b>Email</b>: {{ email }}</li>
    <li><b>Teléfono</b>: {{ phone }}</li>
    <li><b>Asunto</b>: {{ subject }}</li>
    <li><b>Mensaje</b>: {{ message }}</li>
</ul>